<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Header</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        />
        <link href="http://fonts.cdnfonts.com/css/elianto" rel="stylesheet" />
        <style type="text/tailwindcss">
            @layer utilities {
                .content-auto {
                    content-visibility: auto;
                }
            }
            .font-elianto {
                font-family: "Elianto", sans-serif;
            }
            .prods img {
                width: 250px;
                height: 250px;
                align-self: center;
                object-fit: cover;
            }
            @media screen and (min-device-width: 1024px) and (max-device-width: 1280px) {
                .prods img {
                    width: 250px;
                    height: 200px;
                    align-self: center;
                    object-fit: cover;
                }
            }
            .prod img {
                width: 8rem;
                height: 100%;
                align-self: center;
                object-fit: cover;
            }
        </style>
    </head>
    <body class="bg-gray-100">
        <header
            class="header bg-gray-200 bg-clip-border backdrop-filter backdrop-blur-3xl bg-opacity-20 top-0 w-full sticky z-40"
        >
            <nav
                class="nav mx-auto max-w-screen-2xl flex py-2 px-4 md:py-6 w-full mx-auto items-center justify-between md:justify-around"
            >
                <!-- logo -->
                <div class="logo flex px-2">
                    <text class="hidden lg:flex font-bold text-3xl font-elianto"
                        >Green Shoppee</text
                    >
                    <text
                        class="logo1 font-bold text-3xl md:text-4xl lg:hidden font-elianto"
                        >GS</text
                    >
                </div>

                <!-- search -->
                <div class="search hidden md:flex md:w-3/5 px-4">
                    <div
                        class="flex flex-grow bg-white items-center rounded-md"
                    >
                        <input
                            class="sinput bg-transparent font-semibold text-sm pl-4 h-12 flex flex-grow focus:outline-none text-lg"
                            type="text"
                            placeholder="I'm searching for ..."
                        />
                        <div
                            class="sbutton px-4 text-2xl cursor-pointer mb-1 hover:text-gray-500"
                        >
                            <i class="fa fa-search"></i>
                        </div>
                    </div>
                </div>

                <!-- nav links -->
                <div class="contents flex">
                    <ul
                        class="nav flex items-center justify-evenly px-2 space-x-10 text-lg"
                    >
                        <li class="">
                            <a class="" href="">cart</a>
                        </li>
                        <li class="">
                            <div class="group inline-block relative">
                                <button class="inline-flex items-center">
                                    <span class="">do</span>
                                </button>
                                <ul
                                    class="dropdown absolute hidden text-gray-700 pt-1 group-hover:block w-44 -mx-40"
                                >
                                    <li class="">
                                        <a
                                            class="dropelements rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap"
                                            href="#"
                                            >One</a
                                        >
                                    </li>
                                    <li class="">
                                        <a
                                            class="dropelements bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap"
                                            href="#"
                                            >Two</a
                                        >
                                    </li>
                                    <li class="">
                                        <a
                                            class="dropelements rounded-b bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap"
                                            href="#"
                                            >Three is the magic number</a
                                        >
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- mobile search bar -->
            <div class="w-full flex flex-col md:hidden items-center pb-2">
                <div
                    class="flex flex-grow bg-white items-center h-10 w-4/5 rounded-md"
                >
                    <input
                        class="bg-transparent font-semibold xs:text-md sm:text-lg pl-4 flex flex-grow focus:outline-none"
                        type="text"
                        placeholder="I'm searching for ..."
                    />
                    <div
                        class="px-4 text-xl cursor-pointer mb-1 hover:text-gray-500"
                    >
                        <i class="fa fa-search"></i>
                    </div>
                </div>
            </div>
        </header>
        <!-- <main class="mx-auto max-w-7xl"> -->
        <main class="mx-auto max-w-screen-2xl">
            <div
                class="prods grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 grid-flow-row-dense md:px-6 lg:px-10"
            >
                <div
                    class="relative hidden md:flex flex-col m-5 bg-white z-30 p-8 shadow-md hover:shadow-xl transform duration-500 hover:scale-105 cursor-pointer"
                >
                    <image
                        class="rounded w-full h-full"
                        src="https://elearn-ivory.vercel.app/_next/image?url=https%3A%2F%2Ffirebasestorage.googleapis.com%2Fv0%2Fb%2Felearn-ivory.appspot.com%2Fo%2Fimages%252Fscience.jpg%3Falt%3Dmedia%26token%3D73a111ef-56cc-4ffc-b7b0-1b991ade11ac&w=256&q=75"
                    />
                    <p
                        class="absolute top-3 right-4 text-xs text-gray-700 italic"
                    >
                        category
                    </p>
                    <h4 class="mt-2 font-bold text-xl md:text-2xl">{title}</h4>
                    <p class="text-xs my-2 line-clamp-2 italic">
                        {description}
                    </p>
                    <div
                        class="font-bold justify-between inline-flex items-baseline"
                    >
                        <div
                            class="text-black text-lg bg-gray-100 rounded-md p-1 px-2 text-blue-600"
                        >
                            $250
                        </div>
                        <div class="text-yellow-400">Ratings</div>
                    </div>
                </div>
                <div
                    class="prod relative md:hidden mx-5 my-2 bg-white flex cursor-pointer shadow-md"
                >
                    <img
                        src="https://elearn-ivory.vercel.app/_next/image?url=https%3A%2F%2Ffirebasestorage.googleapis.com%2Fv0%2Fb%2Felearn-ivory.appspot.com%2Fo%2Fimages%252Fscience.jpg%3Falt%3Dmedia%26token%3D73a111ef-56cc-4ffc-b7b0-1b991ade11ac&w=256&q=75"
                        alt=""
                        class="shadow-md"
                    />
                    <div class="px-4 py-2 w-full">
                        <p class="absolute top-2 right-2 text-xs italic">
                            category
                        </p>
                        <h4 class="font-bold text-xl py-2">Title</h4>
                        <p class="text-xs line-clamp-2 italic">
                            hi masoom product free
                        </p>
                        <div
                            class="flex w-full justify-between inline-flex items-baseline mt-1"
                        >
                            <p
                                class="flex sm:text-md bg-gray-200 p-1 rounded-md text-blue-500 font-semibold"
                            >
                                $250
                            </p>
                            <p class="flex text-lg">ratings</p>
                        </div>
                    </div>
                </div>
                <div
                    class="relative hidden md:flex flex-col m-5 bg-white z-30 p-8 shadow-md hover:shadow-xl transform duration-500 hover:scale-105 cursor-pointer"
                >
                    <image
                        class="rounded w-full h-full"
                        src="https://elearn-ivory.vercel.app/_next/image?url=https%3A%2F%2Ffirebasestorage.googleapis.com%2Fv0%2Fb%2Felearn-ivory.appspot.com%2Fo%2Fimages%252Fscience.jpg%3Falt%3Dmedia%26token%3D73a111ef-56cc-4ffc-b7b0-1b991ade11ac&w=256&q=75"
                    />
                    <p
                        class="absolute top-3 right-4 text-xs text-gray-700 italic"
                    >
                        category
                    </p>
                    <h4 class="mt-2 font-bold text-xl md:text-2xl">{title}</h4>
                    <p class="text-xs my-2 line-clamp-2 italic">
                        {description}
                    </p>
                    <div
                        class="font-bold justify-between inline-flex items-baseline"
                    >
                        <div
                            class="text-black text-lg bg-gray-100 rounded-md p-1 px-2 text-blue-600"
                        >
                            $250
                        </div>
                        <div class="text-yellow-400">Ratings</div>
                    </div>
                </div>
                <div
                    class="prod relative md:hidden mx-5 my-2 bg-white flex cursor-pointer shadow-md"
                >
                    <img
                        src="https://elearn-ivory.vercel.app/_next/image?url=https%3A%2F%2Ffirebasestorage.googleapis.com%2Fv0%2Fb%2Felearn-ivory.appspot.com%2Fo%2Fimages%252Fscience.jpg%3Falt%3Dmedia%26token%3D73a111ef-56cc-4ffc-b7b0-1b991ade11ac&w=256&q=75"
                        alt=""
                        class="shadow-md"
                    />
                    <div class="px-4 py-2 w-full">
                        <p class="absolute top-2 right-2 text-xs italic">
                            category
                        </p>
                        <h4 class="font-bold text-xl py-2">Title</h4>
                        <p class="text-xs line-clamp-2 italic">
                            hi masoom product free
                        </p>
                        <div
                            class="flex w-full justify-between inline-flex items-baseline mt-1"
                        >
                            <p
                                class="flex sm:text-md bg-gray-200 p-1 rounded-md text-blue-500 font-semibold"
                            >
                                $250
                            </p>
                            <p class="flex text-lg">ratings</p>
                        </div>
                    </div>
                </div>
                <div
                    class="relative hidden md:flex flex-col m-5 bg-white z-30 p-8 shadow-md hover:shadow-xl transform duration-500 hover:scale-105 cursor-pointer"
                >
                    <image
                        class="rounded w-full h-full"
                        src="https://elearn-ivory.vercel.app/_next/image?url=https%3A%2F%2Ffirebasestorage.googleapis.com%2Fv0%2Fb%2Felearn-ivory.appspot.com%2Fo%2Fimages%252Fscience.jpg%3Falt%3Dmedia%26token%3D73a111ef-56cc-4ffc-b7b0-1b991ade11ac&w=256&q=75"
                    />
                    <p
                        class="absolute top-3 right-4 text-xs text-gray-700 italic"
                    >
                        category
                    </p>
                    <h4 class="mt-2 font-bold text-xl md:text-2xl">{title}</h4>
                    <p class="text-xs my-2 line-clamp-2 italic">
                        {description}
                    </p>
                    <div
                        class="font-bold justify-between inline-flex items-baseline"
                    >
                        <div
                            class="text-black text-lg bg-gray-100 rounded-md p-1 px-2 text-blue-600"
                        >
                            $250
                        </div>
                        <div class="text-yellow-400">Ratings</div>
                    </div>
                </div>
                <div
                    class="prod relative md:hidden mx-5 my-2 bg-white flex cursor-pointer shadow-md"
                >
                    <img
                        src="https://elearn-ivory.vercel.app/_next/image?url=https%3A%2F%2Ffirebasestorage.googleapis.com%2Fv0%2Fb%2Felearn-ivory.appspot.com%2Fo%2Fimages%252Fscience.jpg%3Falt%3Dmedia%26token%3D73a111ef-56cc-4ffc-b7b0-1b991ade11ac&w=256&q=75"
                        alt=""
                        class="shadow-md"
                    />
                    <div class="px-4 py-2 w-full">
                        <p class="absolute top-2 right-2 text-xs italic">
                            category
                        </p>
                        <h4 class="font-bold text-xl py-2">Title</h4>
                        <p class="text-xs line-clamp-2 italic">
                            hi masoom product free
                        </p>
                        <div
                            class="flex w-full justify-between inline-flex items-baseline mt-1"
                        >
                            <p
                                class="flex sm:text-md bg-gray-200 p-1 rounded-md text-blue-500 font-semibold"
                            >
                                $250
                            </p>
                            <p class="flex text-lg">ratings</p>
                        </div>
                    </div>
                </div>
                <div
                    class="relative hidden md:flex flex-col m-5 bg-white z-30 p-8 shadow-md hover:shadow-xl transform duration-500 hover:scale-105 cursor-pointer"
                >
                    <image
                        class="rounded w-full h-full"
                        src="https://elearn-ivory.vercel.app/_next/image?url=https%3A%2F%2Ffirebasestorage.googleapis.com%2Fv0%2Fb%2Felearn-ivory.appspot.com%2Fo%2Fimages%252Fscience.jpg%3Falt%3Dmedia%26token%3D73a111ef-56cc-4ffc-b7b0-1b991ade11ac&w=256&q=75"
                    />
                    <p
                        class="absolute top-3 right-4 text-xs text-gray-700 italic"
                    >
                        category
                    </p>
                    <h4 class="mt-2 font-bold text-xl md:text-2xl">{title}</h4>
                    <p class="text-xs my-2 line-clamp-2 italic">
                        {description}
                    </p>
                    <div
                        class="font-bold justify-between inline-flex items-baseline"
                    >
                        <div
                            class="text-black text-lg bg-gray-100 rounded-md p-1 px-2 text-blue-600"
                        >
                            $250
                        </div>
                        <div class="text-yellow-400">Ratings</div>
                    </div>
                </div>
                <div
                    class="prod relative md:hidden mx-5 my-2 bg-white flex cursor-pointer shadow-md"
                >
                    <img
                        src="https://elearn-ivory.vercel.app/_next/image?url=https%3A%2F%2Ffirebasestorage.googleapis.com%2Fv0%2Fb%2Felearn-ivory.appspot.com%2Fo%2Fimages%252Fscience.jpg%3Falt%3Dmedia%26token%3D73a111ef-56cc-4ffc-b7b0-1b991ade11ac&w=256&q=75"
                        alt=""
                        class="shadow-md"
                    />
                    <div class="px-4 py-2 w-full">
                        <p class="absolute top-2 right-2 text-xs italic">
                            category
                        </p>
                        <h4 class="font-bold text-xl py-2">Title</h4>
                        <p class="text-xs line-clamp-2 italic">
                            hi masoom product free
                        </p>
                        <div
                            class="flex w-full justify-between inline-flex items-baseline mt-1"
                        >
                            <p
                                class="flex sm:text-md bg-gray-200 p-1 rounded-md text-blue-500 font-semibold"
                            >
                                $250
                            </p>
                            <p class="flex text-lg">ratings</p>
                        </div>
                    </div>
                </div>
                <div
                    class="relative hidden md:flex flex-col m-5 bg-white z-30 p-8 shadow-md hover:shadow-xl transform duration-500 hover:scale-105 cursor-pointer"
                >
                    <image
                        class="rounded w-full h-full"
                        src="https://elearn-ivory.vercel.app/_next/image?url=https%3A%2F%2Ffirebasestorage.googleapis.com%2Fv0%2Fb%2Felearn-ivory.appspot.com%2Fo%2Fimages%252Fscience.jpg%3Falt%3Dmedia%26token%3D73a111ef-56cc-4ffc-b7b0-1b991ade11ac&w=256&q=75"
                    />
                    <p
                        class="absolute top-3 right-4 text-xs text-gray-700 italic"
                    >
                        category
                    </p>
                    <h4 class="mt-2 font-bold text-xl md:text-2xl">{title}</h4>
                    <p class="text-xs my-2 line-clamp-2 italic">
                        {description}
                    </p>
                    <div
                        class="font-bold justify-between inline-flex items-baseline"
                    >
                        <div
                            class="text-black text-lg bg-gray-100 rounded-md p-1 px-2 text-blue-600"
                        >
                            $250
                        </div>
                        <div class="text-yellow-400">Ratings</div>
                    </div>
                </div>
                <div
                    class="prod relative md:hidden mx-5 my-2 bg-white flex cursor-pointer shadow-md"
                >
                    <img
                        src="https://elearn-ivory.vercel.app/_next/image?url=https%3A%2F%2Ffirebasestorage.googleapis.com%2Fv0%2Fb%2Felearn-ivory.appspot.com%2Fo%2Fimages%252Fscience.jpg%3Falt%3Dmedia%26token%3D73a111ef-56cc-4ffc-b7b0-1b991ade11ac&w=256&q=75"
                        alt=""
                        class="shadow-md"
                    />
                    <div class="px-4 py-2 w-full">
                        <p class="absolute top-2 right-2 text-xs italic">
                            category
                        </p>
                        <h4 class="font-bold text-xl py-2">Title</h4>
                        <p class="text-xs line-clamp-2 italic">
                            hi masoom product free
                        </p>
                        <div
                            class="flex w-full justify-between inline-flex items-baseline mt-1"
                        >
                            <p
                                class="flex sm:text-md bg-gray-200 p-1 rounded-md text-blue-500 font-semibold"
                            >
                                $250
                            </p>
                            <p class="flex text-lg">ratings</p>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>
