<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Header</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        />
        <link href="http://fonts.cdnfonts.com/css/elianto" rel="stylesheet" />
        <style>
            .image {
                object-fit: contain;
                width: 100%;
                height: 100%;
                border-radius: 10px;
                /* backdrop-filter: blur(10px); */
            }
        </style>
    </head>
    <body class="max-w-screen-2xl mx-auto">
        <div class="flex px-4 sm:px-6 lg:px-20 mt-6 justify-evenly">
            <div class="flex flex-col md:flex-row -mx-4">
                <div class="md:flex-1 px-4">
                    <div>
                        <div
                            class="h-64 md:h-80 rounded-lg bg-transparent mb-4"
                        >
                            <image
                                class="image rounded-md h-full w-full object-contain"
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREf48ilESASX02ivLsP2VyOz8O42vdYzc0uQ&usqp=CAU"
                            />
                        </div>
                        <div class="flex -mx-2 mb-4"></div>
                    </div>
                </div>
                <div class="md:flex-1 px-4">
                    <h2
                        class="mb-2 leading-tight tracking-tight font-bold text-gray-800 text-2xl md:text-3xl"
                    >
                        Lorem ipsum dolor, sit amet consectetur, adipisicing
                        elit.
                    </h2>
                    <p class="text-gray-500 text-sm">
                        By
                        <a href="#" class="text-indigo-600 hover:underline"
                            >ABC Company</a
                        >
                    </p>

                    <div class="flex items-center space-x-4 my-4">
                        <div>
                            <div class="rounded-lg bg-gray-100 flex py-2 px-3">
                                <span class="text-indigo-400 mr-1 mt-1">$</span>
                                <span class="font-bold text-indigo-600 text-3xl"
                                    >25</span
                                >
                            </div>
                        </div>
                        <div class="flex-1">
                            <p class="text-green-500 text-xl font-semibold">
                                Save 12%
                            </p>
                            <p class="text-gray-400 text-sm">
                                Inclusive of all Taxes.
                            </p>
                        </div>
                    </div>

                    <p class="text-gray-500">
                        Lorem ipsum, dolor sit, amet consectetur adipisicing
                        elit. Vitae exercitationem porro saepe ea harum corrupti
                        vero id laudantium enim, libero blanditiis expedita
                        cupiditate a est.
                    </p>

                    <div
                        class="flex py-4 space-x-4 justify-between md:justify-start"
                    >
                        <div
                            class="flex items-center text-2xl h-14 ring-gray-200 ring-2 rounded-md"
                        >
                            <div
                                class="bg-gray-100 md:px-6 px-4 py-3 rounded-l-md cursor-pointer hover:bg-gray-200"
                            >
                                -
                            </div>
                            <input
                                type="number"
                                name="qty"
                                id="qty"
                                value="100"
                                disabled
                                class="w-14 text-center bg-transparent"
                            />
                            <div
                                class="bg-gray-100 px-4 md:px-6 py-3 rounded-r-md cursor-pointer hover:bg-gray-200"
                            >
                                +
                            </div>
                        </div>

                        <button
                            type="button"
                            class="h-14 px-4 py-2 md:px-6 font-semibold rounded-md bg-indigo-600 hover:bg-indigo-500 text-white"
                        >
                            Add to cart
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>//

<div className="flex px-4 md:px-12 lg:px-20 mt-6 justify-evenly">
                        <div className="flex flex-col md:flex-row -mx-4">
                            <div className="md:flex-1 px-4">
                                <div>
                                    <div className="rounded-lg bg-transparent">
                                        <Carousel
                                            autoPlay
                                            infiniteLoop
                                            stopOnHover
                                            showStatus={false}
                                            showIndicators={false}
                                            showThumbs={false}
                                            interval={3000}
                                            className="h-fit">
                                            {product.images &&
                                                product.images.map((image) => (
                                                    <div key={image.public_id}>
                                                        <img
                                                            loading="lazy"
                                                            className="object-contain"
                                                            src={image.url}
                                                            alt={product.title}
                                                        />
                                                    </div>
                                                ))}
                                        </Carousel>
                                    </div>
                                    <div className="flex -mx-2 mb-10"></div>
                                </div>
                            </div>
                            <div className="md:flex-1 px-4">
                                <h2 className="mb-2 leading-tight tracking-tight font-bold text-gray-800 text-2xl md:text-3xl">
                                    {product.name}
                                </h2>
                                <div className="text-gray-500 text-sm">
                                    By
                                    <p className="text-indigo-600 hover:underline">
                                        {product.seller}
                                    </p>
                                </div>

                                <div className="flex items-center space-x-4 my-4">
                                    <div>
                                        <div className="rounded-lg bg-gray-100 flex py-2 px-3">
                                            <span className="text-indigo-400 mr-1 mt-1">
                                                ₹
                                            </span>
                                            <span className="font-bold text-indigo-600 text-3xl">
                                                {product.price}
                                            </span>
                                        </div>
                                    </div>
                                    {/* <div className="flex-1">
                                        <p className="text-green-500 text-xl font-semibold">
                                            Save 12%
                                        </p>
                                        <p className="text-gray-600 text-sm">
                                            Inclusive of all Taxes.
                                        </p>
                                    </div> */}
                                </div>

                                <p className="text-gray-800">
                                    {product.description}
                                </p>
                                <div className="flex flex-row justify-between">
                                    <p className="font-bold text-xl mt-2">
                                        Status :
                                        {product.stock > 0 ? (
                                            <span className="text-blue-600 ml-2">
                                                In Stock
                                            </span>
                                        ) : (
                                            <span className="text-red-500 ml-2">
                                                Out of Stock
                                            </span>
                                        )}
                                    </p>
                                    <p className="font-bold text-xl mt-2">
                                        1 Unit :
                                        <span className="text-green-500 ml-2">
                                            {product.unit} Kg
                                        </span>
                                    </p>
                                </div>
                                <div className="flex py-4 space-x-4 justify-between md:justify-start">
                                    <div className="flex items-center justify-center text-2xl h-14 ring-gray-300 ring-2 rounded-md">
                                        <button
                                            onClick={decreaseQty}
                                            className="bg-gray-300 md:px-6 px-4 py-3 rounded-l-md cursor-pointer hover:bg-gray-400">
                                            -
                                        </button>
                                        <input
                                            type="number"
                                            value={quantity}
                                            readOnly
                                            className="count p-2 h-full w-20 text-center text-black focus:outline-none bg-transparent"
                                        />
                                        <button
                                            onClick={increaseQty}
                                            className=" bg-gray-300 px-4 md:px-6 py-3 rounded-r-md cursor-pointer hover:bg-gray-400">
                                            +
                                        </button>
                                    </div>
                                    <button
                                        type="button"
                                        disabled={product.stock === 0}
                                        onClick={addToCart}
                                        className={`h-14 px-4 py-2 md:px-6 font-semibold rounded-md bg-indigo-600 hover:bg-indigo-500 text-white ${
                                            product.stock === 0
                                                ? "cursor-not-allowed"
                                                : "cursor-pointer"
                                        } `}>
                                        Add to cart
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div className="flex px-4 md:px-12 lg:px-20 mt-10 md:mt-20 w-full md:w-[50%] cursor-default">
                        {user ? (
                            <div
                                className="flex flex-col w-full"
                                onClickCapture={setUserRatings}>
                                <ul className="stars justify-center md:justify-start cursor-pointer">
                                    <li className="star">
                                        <i className="fa fa-star"></i>
                                    </li>
                                    <li className="star">
                                        <i className="fa fa-star"></i>
                                    </li>
                                    <li className="star">
                                        <i className="fa fa-star"></i>
                                    </li>
                                    <li className="star">
                                        <i className="fa fa-star"></i>
                                    </li>
                                    <li className="star">
                                        <i className="fa fa-star"></i>
                                    </li>
                                </ul>

                                <textarea
                                    name="comment"
                                    id="comment"
                                    value={comment}
                                    onChange={(e) => setComment(e.target.value)}
                                    className="rounded-md focus:ring-2 focus:ring-yellow-300 focus:outline-none mt-3"></textarea>
                                <button
                                    type="button"
                                    onClick={reviewHandler}
                                    className="h-14 my-4 px-4 py-2 md:px-6 font-semibold rounded-md bg-yellow-400 hover:bg-yellow-500 text-white"
                                    onClick={setUserRatings}
                                >
                                    Submit Your Review
                                </button>

                                <hr />
                                <hr />
                                <div className="mt-10 mb-4 bg-white space-y-5 rounded-md">
                                    {product.reviews &&
                                        product.reviews.length > 0 &&
                                        product.reviews.map((review, i) => (
                                            <div key={review._id}>
                                                <p className="my-2 p-2 pb-0 text-2xl font-semibold text-yellow-500">
                                                    {review.name}
                                                </p>
                                                <div
                                                    key={i}
                                                    className="flex flex-row text-xl px-2 mb-3 pb-1 text-gray-600 italic">
                                                    <br />
                                                    <p>{review.comment}</p>
                                                    <p className="flex-grow"></p>
                                                    <div className="rating-outer">
                                                        <div
                                                            className="rating-inner"
                                                            style={{
                                                                width: `${
                                                                    (review.rating /
                                                                        5) *
                                                                    100
                                                                }%`,
                                                            }}></div>
                                                    </div>
                                                    <hr />
                                                </div>
                                            </div>
                                        ))}
                                </div>
                            </div>
                        ) : (
                            <p className="text-2xl mb-4">
                                Login to post review
                            </p>
                        )}
                    </div>