<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Header</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        />
        <link href="http://fonts.cdnfonts.com/css/elianto" rel="stylesheet" />
        <style>
            .image {
                object-fit: contain;
                width: 100%;
                height: 100%;
                border-radius: 10px;
                /* backdrop-filter: blur(10px); */
            }
        </style>
    </head>
    <body class="max-w-screen-2xl mx-auto">
        <div class="flex px-4 sm:px-6 lg:px-20 mt-6 justify-evenly">
            <div class="flex flex-col md:flex-row -mx-4">
                <div class="md:flex-1 px-4">
                    <div>
                        <div
                            class="h-64 md:h-80 rounded-lg bg-transparent mb-4"
                        >
                            <image
                                class="image rounded-md h-full w-full object-contain"
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREf48ilESASX02ivLsP2VyOz8O42vdYzc0uQ&usqp=CAU"
                            />
                        </div>
                        <div class="flex -mx-2 mb-4"></div>
                    </div>
                </div>
                <div class="md:flex-1 px-4">
                    <h2
                        class="mb-2 leading-tight tracking-tight font-bold text-gray-800 text-2xl md:text-3xl"
                    >
                        Lorem ipsum dolor, sit amet consectetur, adipisicing
                        elit.
                    </h2>
                    <p class="text-gray-500 text-sm">
                        By
                        <a href="#" class="text-indigo-600 hover:underline"
                            >ABC Company</a
                        >
                    </p>

                    <div class="flex items-center space-x-4 my-4">
                        <div>
                            <div class="rounded-lg bg-gray-100 flex py-2 px-3">
                                <span class="text-indigo-400 mr-1 mt-1">$</span>
                                <span class="font-bold text-indigo-600 text-3xl"
                                    >25</span
                                >
                            </div>
                        </div>
                        <div class="flex-1">
                            <p class="text-green-500 text-xl font-semibold">
                                Save 12%
                            </p>
                            <p class="text-gray-400 text-sm">
                                Inclusive of all Taxes.
                            </p>
                        </div>
                    </div>

                    <p class="text-gray-500">
                        Lorem ipsum, dolor sit, amet consectetur adipisicing
                        elit. Vitae exercitationem porro saepe ea harum corrupti
                        vero id laudantium enim, libero blanditiis expedita
                        cupiditate a est.
                    </p>

                    <div
                        class="flex py-4 space-x-4 justify-between md:justify-start"
                    >
                        <div
                            class="flex items-center text-2xl h-14 ring-gray-200 ring-2 rounded-md"
                        >
                            <div
                                class="bg-gray-100 md:px-6 px-4 py-3 rounded-l-md cursor-pointer hover:bg-gray-200"
                            >
                                -
                            </div>
                            <input
                                type="number"
                                name="qty"
                                id="qty"
                                value="100"
                                disabled
                                class="w-14 text-center bg-transparent"
                            />
                            <div
                                class="bg-gray-100 px-4 md:px-6 py-3 rounded-r-md cursor-pointer hover:bg-gray-200"
                            >
                                +
                            </div>
                        </div>

                        <button
                            type="button"
                            class="h-14 px-4 py-2 md:px-6 font-semibold rounded-md bg-indigo-600 hover:bg-indigo-500 text-white"
                        >
                            Add to cart
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
