@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        -webkit-tap-highlight-color: transparent;
    }
}

@layer utilities {
    .pb-safe{
        padding-bottom: env(safe-area-inset-bottom);
    }
}
.font-elianto {
    font-family: "Elianto", sans-serif;
}

.prods img {
    width: 250px;
    height: 200px;
    align-self: center;
    object-fit: cover;
}

@media screen and (min-device-width: 1024px) and (max-device-width: 1280px) {
    .prods img {
        width: 250px;
        height: 200px;
        align-self: center;
        object-fit: cover;
    }
}

.prod img {
    width: 8rem;
    height: 8rem;
    align-self: center;
    object-fit: cover;
}

.logo {
    color: #2a9d8f;
}

body{
    background: rgb(227, 248, 248)
}