@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        -webkit-tap-highlight-color: transparent;
    }
}

@layer utilities {
    .pb-safe{
        padding-bottom: env(safe-area-inset-bottom);
    }
}


.font-elianto {
    font-family: "Elianto", sans-serif;
}


@media screen and (min-device-width: 320px) and (max-device-width: 320px) {
    .ratings{
        font-size:11px;
    }
}

.prod img {
    width: 8rem;
    height: 8rem;
    align-self: center;
    object-fit: cover;
}

.logo {
    color: #0c0c0c;
}

body{
    background: rgb(231, 231, 231)
}

/*Ratings*/
.rating-outer {
    display: inline-block;
    position: relative;
    font-family: FontAwesome;
    color: #fdcc0d;
}

.rating-outer::before {
    content: '\f006 \f006 \f006 \f006 \f006';
}

.rating-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}

.rating-inner::before {
    content: '\f005 \f005 \f005 \f005 \f005';
    color: #f8ce0b;
}
/*Loader*/
.loader {
    display: flex;
    width: 80px;
    height: 80px;
    padding-left: 0;
}

.loader:after {
    content: ' ';
    display: flex;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fa9c23;
    border-color: #fa9c23 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.rating {
    margin-top: 10rem;
}

.stars {
    height: 100px;
    display: flex;
    align-items: center;
    padding-left: 0;
}

.star {
    display: inline;
    list-style: none;
    font-size: 3rem;
    padding-left: 0.9rem;
    color: #bebebe;
}

.star:first-child {
    padding-left: 0;
}

.orange {
    color: #fa9c23;
}

.yellow {
    color: #fdcc0d;
}

.review_user {
    font-size: 0.8rem;
    color: grey;
}

/* checkout steps */
 .checkout-progress div {
     box-sizing: border-box;
 }

 .checkout-progress {
     display: block;
     clear: both;
     margin: 20px auto;
     width: auto;
     font-family: sans-serif;
     overflow: auto;
 }

 .step {
     margin: 0;
     border: 0;
     letter-spacing: 1px;
     line-height: 30px;
     padding: 5px 10px 5px 15px;
     color: black;
     text-decoration: none;
     cursor: default;
     font-weight: bold;
     float: left;
     height: auto;
 }

 .incomplete {
     background: white;
 }

 .active-step {
     background: #fa9c23;
     color: #fff;
 }

 .triangle-active {
     float: left;
     width: 0;
     border-top: 20px solid transparent;
     border-left: 15px solid #fa9c23;
     border-bottom: 20px solid transparent;
     margin-left: 0px;
 }

 .triangle2-active {
     width: 0;
     float: left;
     border-top: 20px solid #fa9c23;
     border-left: 15px solid #e5e7eb;
     border-bottom: 20px solid #fa9c23;
     margin-right: 0px;
 }

 .triangle-incomplete {
     float: left;
     width: 0;
     border-top: 20px solid transparent;
     border-left: 15px solid white;
     border-bottom: 20px solid transparent;
     margin-left: 0px;
 }

 .triangle2-incomplete {
     width: 0;
     float: left;
     border-top: 20px solid white;
     border-left: 15px solid #e5e7eb;
     border-bottom: 20px solid white;
     margin-right: 0px;
 }

@media screen and (min-device-width:320px) and (max-device-width: 540px) {
    .checkout-progress div {
            box-sizing: border-box;
        }
    
        .checkout-progress {
            display: block;
            clear: both;
            margin: 20px auto;
            width: auto;
            font-family: sans-serif;
            overflow: auto;
        }
    
        .step {
            margin: 0;
            border: 0;
            letter-spacing: 1px;
            line-height: 30px;
            padding: 2px;
            color: black;
            text-decoration: none;
            cursor: default;
            font-weight: bold;
            float: left;
            height: auto;
        }
    
        .incomplete {
            background: white;
        }
    
        .active-step {
            background: #fa9c23;
            color: #fff;
        }
    
        .triangle-active {
            float: left;
            width: 0;
            border-top: 17px solid transparent;
            border-left: 12px solid #fa9c23;
            border-bottom: 17px solid transparent;
            margin-left: 0px;
        }
    
        .triangle2-active {
            width: 0;
            float: left;
            border-top: 17px solid #fa9c23;
            border-left: 12px solid #e5e7eb;
            border-bottom: 17px solid #fa9c23;
            margin-right: 0px;
        }
    
        .triangle-incomplete {
            float: left;
            width: 0;
            border-top: 17px solid transparent;
            border-left: 12px solid white;
            border-bottom: 17px solid transparent;
            margin-left: 0px;
        }
    
        .triangle2-incomplete {
            width: 0;
            float: left;
            border-top: 17px solid white;
            border-left: 12px solid #e5e7eb;
            border-bottom: 17px solid white;
            margin-right: 0px;
        }
}
