@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        -webkit-tap-highlight-color: transparent;
    }
}

@layer utilities {
    .pb-safe{
        padding-bottom: env(safe-area-inset-bottom);
    }
}


.font-elianto {
    font-family: "Elianto", sans-serif;
}

.prods img {
    width: 250px;
    height: 200px;
    align-self: center;
    object-fit: cover;
}

@media screen and (min-device-width: 1024px) and (max-device-width: 1280px) {
    .prods img {
        width: 250px;
        height: 200px;
        align-self: center;
        object-fit: cover;
    }
}
@media screen and (min-device-width: 320px) and (max-device-width: 320px) {
    .ratings{
        font-size:11px;
    }
}

.prod img {
    width: 8rem;
    height: 8rem;
    align-self: center;
    object-fit: cover;
}

.logo {
    color: #0c0c0c;
}

body{
    background: rgb(231, 231, 231)
}

/*Ratings*/
.rating-outer {
    display: inline-block;
    position: relative;
    font-family: FontAwesome;
    color: #fdcc0d;
}

.rating-outer::before {
    content: '\f006 \f006 \f006 \f006 \f006';
}

.rating-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}

.rating-inner::before {
    content: '\f005 \f005 \f005 \f005 \f005';
    color: #f8ce0b;
}
/*Loader*/
.loader {
    display: flex;
    width: 80px;
    height: 80px;
    padding-left: 0;
}

.loader:after {
    content: ' ';
    display: flex;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fa9c23;
    border-color: #fa9c23 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.rating {
    margin-top: 10rem;
}

.stars {
    height: 100px;
    display: flex;
    align-items: center;
    padding-left: 0;
}

.star {
    display: inline;
    list-style: none;
    font-size: 3rem;
    padding-left: 0.9rem;
    color: #bebebe;
}

.star:first-child {
    padding-left: 0;
}

.orange {
    color: #fa9c23;
}

.yellow {
    color: #fdcc0d;
}

.review_user {
    font-size: 0.8rem;
    color: grey;
}
